$title
ozone
$operating system unix
$symmetry c1
$coord    file=coord
$user-defined bonds    file=coord
$atoms
o  1-3                                                                         \
   basis =o cc-pVTZ
$basis    file=basis
$rundimensions
   dim(fock,dens)=5817
   natoms=3
   nshell=30
   nbf(CAO)=105
   nbf(AO)=90
   dim(trafo[SAO<-->AO/CAO])=135
   rhfshells=2
$uhfmo_alpha   file=alpha
$uhfmo_beta   file=beta
$uhf
$alpha shells
 a       1-12                                   ( 1 )
$beta shells
 a       1-12                                   ( 1 )
$scfiterlimit       30
$scfconv        7
$thize     0.10000000E-04
$thime        5
$scfdamp   start=1.000  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$optimize
   internal   off
   cartesian  on
   global     off
   basis      off   logarithm
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$lock off
$last step     tm2molden
$orbital_max_rnorm 0.21962685637785E-04
$last SCF energy change = -224.31695
$ssquare from dscf
         -0.000 (not to be modified here)
$charge from dscf
          0.000 (not to be modified here)
$dipole from dscf
  x    -0.00000000000003    y     0.00000000000000    z    -0.30254054136530    a.u.
   | dipole | =    0.7689871649  debye
$end
